<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Page Blank | Materialize - Material Design Admin Template</title>

  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  <link th:href="@{/layout/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link th:href="@{/layout/css/style.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link th:href="@{/layout/css/style.min.css}" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link th:href="@{/layout/js/plugins/prism/prism.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link th:href="@{/layout/js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection">
  
  <!--animate css-->
   <link th:href="@{/layout/js/plugins/animate-css/animate.css}" type="text/css" rel="stylesheet" media="screen,projection">
  
  
</head>

<body>

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <div th:replace="almoxarifado/template/fragments/Header :: header"></div>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <div th:replace="almoxarifado/template/fragments/Menu   :: menu"></div>
      <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content" layout:fragment="conteudo">
        
        
        <!--end container-->
      </section>
      <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <div th:replace="almoxarifado/template/fragments/Footer   :: footer"></div>
  <!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" th:src="@{/layout/js/plugins/jquery-1.11.2.min.js}"></script>    
    <!--materialize js-->
    <script type="text/javascript" th:src="@{/layout/js/materialize.min.js}"></script>
    <!--prism
    <script type="text/javascript" src="js/prism/prism.js"></script>-->
    <!--scrollbar-->
    <script type="text/javascript" th:src="@{/layout/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" th:src="@{/layout/js/plugins.min.js}"></script>
    
    <th:block layout:fragment="javascript-extra"></th:block>
    
</body>

</html>